/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/

.modena .button {
    -fx-skin: "javafx.scene.control.skin.ButtonSkin";
}

/*******************************************************************************
 *                                                                             *
 * Toggle Button                                                               *
 *                                                                             *
 ******************************************************************************/

.modena .toggle-button {
    -fx-skin: "javafx.scene.control.skin.ToggleButtonSkin";
}

/*******************************************************************************
 *                                                                             *
 * Text Field                                                                  *
 *                                                                             *
 ******************************************************************************/

.modena .text-field {
    -fx-skin: "javafx.scene.control.skin.TextFieldSkin";
}

/*******************************************************************************
 *                                                                             *
 * Password Field                                                              *
 *                                                                             *
 ******************************************************************************/

.modena .password-field {
    -fx-skin: "javafx.scene.control.skin.TextFieldSkin";
}

/*******************************************************************************
 *                                                                             *
 * Slider                                                                      *
 *                                                                             *
 ******************************************************************************/

.modena .slider {
    -fx-skin: "javafx.scene.control.skin.SliderSkin";
}

/*******************************************************************************
 *                                                                             *
 * Modena                                                                      *
 *                                                                             *
 ******************************************************************************/

.modena .progress-bar {
    -fx-skin: "javafx.scene.control.skin.ProgressBarSkin";
}